body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h1 { text-align: center; }

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.task {
    background: white;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 0px 1px 3px gray;
}
